html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Quicksand", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
