html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Quicksand", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled-button {
  background-color: lightgrey !important;

}

.disabled-icon, .disabled-button {
  color: lightgray;
  cursor: not-allowed !important;
  transition: none !important;

  &:hover {
    transform: none !important;
  }
}
